<script
  type="text/javascript"
  src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"
></script>
<script>
  jQuery(function ($) {
    $(".tab_content").hide();
    var selected_tab = $(".tabrow .selected").find("a").attr("href");
    $(selected_tab).fadeIn();

    $(".tabrow li").click(function (e) {
      e.preventDefault();
      $("li").removeClass("selected");
      $(this).addClass("selected");
      $(".tab_content").hide();
      var selected_tab = $(this).find("a").attr("href");
      $(selected_tab).fadeIn();
    });
  });
</script>

<p style="margin: 0; padding: 0; line-height: 0">&nbsp;</p>

<ul class="tabrow">
  <li class="selected">
    <a href="#2020">2020's</a>
  </li>
  <li>
    <a href="#2010">2010's</a>
  </li>
  <li>
    <a href="#2000">2000's</a>
  </li>
  <li>
    <a href="#1990">1990's</a>
  </li>
  <li>
    <a href="#1980">1980's</a>
  </li>
  <li>
    <a href="#1970">1970's</a>
  </li>
</ul>

<div id="tabs_content_container">
  <div id="2020" class="tab_content">
    <table class="list">
      <tr>
        <th>Year</th>
        <th>Contest</th>
        <th>Teams</th>
        <th>Leaders</th>
      </tr>
      <tr>
        <td>2025</td>
        <td>
          North American Championship
          <br />
          Orlando
        </td>
        <td>
          min-rizz max-pull, place, / problems:
          <br />
          Leonardo Paes, Marko Tanevski, Demetris Chrysostomou
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizers: Leonardo Paes, Marko Tanevski
        </td>
      </tr>
      <tr>
        <td>2024</td>
        <td>
          SCUSA Regionals
          <br />
          Division I
        </td>
        <td>
          min-rizz max-pull, 8th place, 9/ problems:
          <br />
          Leonardo Paes, Marko Tanevski, Demetris Chrysostomou
          <br />
          <br />
          NULL 9th place, 9/ problems:
          <br />
          Xiaohan Yang, Tong Zou, Bruce Wang
          <br />
          <br />
          Better Call the WAMbulance, 11th place, 8/ problems:
          <br />
          Arnan Bawa, William Volen, Matthew Bischoff
          <br />
          <br />
          Holy Goat, 16th place, 7/ problems:
          <br />
          Richard Xu, Albert Zhu, Michael Menezes
          <br />
          <br />
          not sure, 17th place, 5/ problems:
          <br />
          Pierce Zhang, Moyinoluwa Orimoloye, Vincent Wang
          <br />
          <br />
          unicode 2137, 18th place, 5/ problems:
          <br />
          Adam Duda, Ethan Bui, Ashton Lee
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizers: Leonardo Paes, Marko Tanevski
        </td>
      </tr>
      <tr>
        <td>2024</td>
        <td>
          North America Championship
          <br />
          Orlando
        </td>
        <td>
          Better Call the Wambulance, 44th place, 4/13 problems:
          <br />
          Arnan Bawa, William Volen, Matthew Bischoff
        </td>
        <td>Coach: John Greiner</td>
      </tr>
      <tr>
        <td>2023</td>
        <td>
          SCUSA Regionals
          <br />
          Division I
        </td>
        <td>
          Better Call the Wambulance, 9th place, 7/13 problems:
          <br />
          Arnan Bawa, William Volen, Matthew Bischoff
          <br />
          <br />
          Rice Owls, 10th place, 6/13 problems:
          <br />
          Ruofeng (Charlie) Liu, Leonardo Paes, Marko Tanevski
          <br />
          <br />
          Didn't Bother to Give a Name, 13th place, 5/13 problems:
          <br />
          Bruce Wang, Hsiang-En Huang, Ada Ma
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Ruofeng (Chrlie) Liu
        </td>
      </tr>
      <tr>
        <td>2023</td>
        <td>
          North America Championship
          <br />
          Orlando
        </td>
        <td>
          Rice Owls, 34th place, 5/13 problems:
          <br />
          Ruofeng (Charlie) Liu, Leonardo Paes, Marko Tanevski
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Ruofeng (Charlie) Liu
        </td>
      </tr>
      <tr>
        <td>2022</td>
        <td>
          SCUSA Regionals
          <br />
          Division I
        </td>
        <td>
          Rice Owls, 11th place, 6/13 problems:
          <br />
          Ruofeng (Charlie) Liu, Leonardo Paes, Marko Tanevski
          <br />
          <br />
          Rixner's a Rizzner, 16th place, 3/13 problems:
          <br />
          Hsiang-En Huang, Bruce Wang, Ada Ma
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Ruofeng (Charlie )Liu
        </td>
      </tr>
      <tr>
        <td>2022</td>
        <td>
          North America Championship
          <br />
          Orlando
        </td>
        <td>
          Rice Owls, 46th place, 2/13 problems:
          <br />
          Charlie (Ruofeng) Liu, Ruijin Wang, Phuong Tran
          <br />
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Ruofeng Liu
        </td>
      </tr>
      <tr>
        <td>2021</td>
        <td>
          SCUSA Regionals
          <br />
          Division I
        </td>
        <td>
          Rice Owls, 3rd place, 9/11 problems:
          <br />
          Charlie (Ruofeng) Liu, Ruijin Wang, Phuong Tran
          <br />
          <br />
          ICan'tThinkOfAny, 17th place, 4/11 problems:
          <br />
          Jane Mo, Janhvi Somaiya, Wisha Wanichwecharungruang
          <br />
          <br />
          AQMeta, 34th place, 1/11 problems:
          <br />
          Abedelrahman Abouzeid, Quang Nguyen, Mahmoud Badawi
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Ruofeng Liu
        </td>
      </tr>
      <tr>
        <td>2021</td>
        <td>
          North American Championship
          <br />
          Orlando
        </td>
        <td>
          Rice Owls, 35th place, 5/13 problems:
          <br />
          Phuong Tran, Charlie (Ruofeng) Liu, Chuck (Quihan) Wang
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Quihan Wang
        </td>
      </tr>
      <tr>
        <td>2021</td>
        <td>
          North America South Division Championship
          <br />
          online
        </td>
        <td>
          Rice Owls, 10th place, 7/13 problems:
          <br />
          Phuong Tran, Charlie (Ruofeng) Liu, Chuck (Quihan) Wang
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Quihan Wang
        </td>
      </tr>
      <tr>
        <td>2020</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Owls, 8th place, 11/16 problems:
          <br />
          Phuong Tran, Charlie (Ruofeng) Liu, Chuck (Quihan) Wang
          <br />
          <br />
          Eureka, 33rd place, 5/16 problems:
          <br />
          Ningzhi Xu, Ye Cao
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Quihan Wang
        </td>
      </tr>
    </table>
  </div>
  <div id="2010" class="tab_content">
    <table class="list">
      <tr>
        <th>Year</th>
        <th>Contest</th>
        <th>Teams</th>
        <th>Leaders</th>
      </tr>
      <tr>
        <td>2019</td>
        <td>
          North America Championship
          <br />
          Atlanta
        </td>
        <td>
          I see PC, 35th place, 4/10 problems:
          <br />
          Phuong Tran, Austin (Tianyi) Liu, Mark Saving
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Tianyi Liu
        </td>
      </tr>
      <tr>
        <td>2019</td>
        <td>SCUSA Regionals</td>
        <td>
          I see PC, 7th place, 8/12 problems:
          <br />
          Phuong Tran, Austin (Tianyi) Liu, Mark Saving
          <br />
          <br />
          It's a Hoot!, 18th place, 5/12 problems:
          <br />
          Jos Malig-on, Shaquille Wyan Que, Nicholas Meisburger
          <br />
          <br />
          Rice Owls, 25th place, 5/12 problems:
          <br />
          Joshua Engels, Ben Firullo, Pasan Sirithanachai
          <br />
          <br />
          Rice Recursion, 34th place, 4/12 problems:
          <br />
          Yixuan Zhou, Boyuan Deng, Zhanyi Sun
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Tianyi Liu
        </td>
      </tr>
      <tr>
        <td>2018</td>
        <td>SCUSA Regionals</td>
        <td>
          Owls, 7th place, 9/12 problems:
          <br />
          Austin (Tianyi) Liu, Zirun Lin, Mark Saving
          <br />
          <br />
          Rice Gray, 21st place, 5/12 problems:
          <br />
          Yixuan Zhou, Thomas Yuan, Joon Sun Hwang
          <br />
          <br />
          Blue, 23rd place, 5/12 problems:
          <br />
          Jianan Jiang, Avery Whitaker, Seung Hun Jang
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizers: Tianyi Liu, Avery Whitaker
        </td>
      </tr>
      <tr>
        <td>2017</td>
        <td>
          North American Invitational
          <br />
          online
        </td>
        <td>
          Rice Lalalalalalalalalala, 38th place, 1/11 problems:
          <br />
          Anh Tran, Madison Lewis, Avery Whitaker
          <br />
          <br />
          Coach: John Greiner
          <br />
          Student organizer: Avery Whitaker
        </td>
      </tr>
      <tr>
        <td>2017</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Lalalalalalalalalala, 12th place, 6/11 problems:
          <br />
          Anh Tran, Madison Lewis, Avery Whitaker
          <br />
          <br />
          Rice while(team), 13th place, 6/11 problems:
          <br />
          Tianyi Liu, Pedro Igor Oliveira, Zirun Lin
          <br />
          <br />
          Rice Cowculating, 18th place, 6/11 problems:
          <br />
          Sinran Virk, Thomas Yuan, Patrick Brady
          <br />
          <br />
          Rice Fondren ForAll, 24th place, 5/11 problems:
          <br />
          Namgun Kim, Hunter Tidwell, Jung Hee Ryun
          <br />
          <br />
          Rice Irregular Expression, 45th place, 3/11 problems:
          <br />
          Xihao Liu, Edward Feng, Wei Dai
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Avery Whitaker
        </td>
      </tr>
      <tr>
        <td>2016</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Lalalalalalalalalalalala, 10th place, 7/11 problems:
          <br />
          Anh Tran, Madison Lewis, Avery Whitaker
          <br />
          <br />
          Rice Mango, 19th place, 6/11 problems:
          <br />
          Siran Wang, Ziyun Wang, Chao Zhou
          <br />
          <br />
          Rice Lucky Ks, 26th place, 5/11 problems:
          <br />
          Jung Hee Ryu, Namgun Kim, Gayeon Noh
          <br />
          <br />
          Rice Fresh, 50th place, 2/11 problems:
          <br />
          Patrick Brady, Gabriel Vacaliuc, Arjoon Srikanth
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Avery Whitaker
        </td>
      </tr>
      <tr>
        <td>2016</td>
        <td>
          World Finals
          <br />
          Phuket
        </td>
        <td>
          Rice Gray, 55th place of 128, 5/13 problems:
          <br />
          Jose Vera-Garza, Philip Taffet, Visit Pataranutaporn
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Jose Vera-Garza
          <br />
          <br />
          <a href="http://engineering.rice.edu/ICPC2016/"
            >Rice Engineering article</a
          >
        </td>
      </tr>
      <tr>
        <td>2015</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Gray, 1st place, 7/9 problems:
          <br />
          Jose Vera-Garza, Philip Taffet, Visit Pataranutaporn
          <br />
          <br />
          Rice Blue, 4th place, 6/9 problems:
          <br />
          Jenna Netland, Derek Peirce, Michael Peirce
          <br />
          <br />
          Rice Hoot!, 22nd place, 4/9 problems:
          <br />
          Ziyue Liu, Ziyun Wang, Siran Wang
          <br />
          <br />
          Rice Owls, 42nd place, 2/9 problems:
          <br />
          Anh Tran, Madison Lewis, Avery Whitaker
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizers: Derek Peirce, Jose Vera-Garza
          <br />
          <br />
          <a href="http://engineering.rice.edu/programmingcontest/"
            >Rice Engineering article</a
          >
        </td>
      </tr>
      <tr>
        <td>2015</td>
        <td>
          World Finals
          <br />
          Marrakech
        </td>
        <td>
          Rice Gray, 113th place of 128, 2/13 problems:
          <br />
          Jose Vera-Garza, Philip Taffet, Nick Merritt
          <br />
          <br />
          Coach: John Greiner
          <br />
          Video interviews:
          <a href="https://www.youtube.com/watch?v=FxOR9ydROOE">
            How to Qualify for the World Finals
          </a>
          ,
          <a href="https://www.youtube.com/watch?v=dJ7iZ1tCgLA">
            Coaches talk about how they train their teams
          </a>
          <br />
          <br />
          Funding sponsors:
          <a href="http://www.pros.com/">PROS Holdings</a>
          , Anne Kennedy, Andrea Pound, Christopher Pound
        </td>
      </tr>
      <tr>
        <td>2014</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Gray, 1st place, 5/9 problems:
          <br />
          Jose Vera-Garza, Philip Taffet, Nick Merritt
          <br />
          <br />
          Rice Blue, 8th place, 4/9 problems:
          <br />
          Derek Peirce, Michael Peirce, Jenna Netland
          <br />
          <br />
          Rice Owls, 24th place, 2/9 problems:
          <br />
          Matthew Hammond, Belinda Liu, Rui (Ray) Zhang
          <br />
          <br />
          Rice Hoot!, 26th place, 2/9 problems:
          <br />
          Xiaoyu Chen, Xingfan (Fanny) Huang, Yufeng Zhou
          <br />
          <br />
          Team Fusion MMA, 36th place, 1/9 problems:
          <br />
          John Wyrough, Joseph Hwang, Nicholas Kwon
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Derek Peirce
          <br />
          <br />
          <a href="http://engineering.rice.edu/acm_contest2014/"
            >Rice Engineering article</a
          >
        </td>
      </tr>
      <tr>
        <td>2013</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Blue, 2nd place, 7/8 problems:
          <br />
          Jeff Arenson, Derek Peirce, Haihua Shen
          <br />
          <br />
          Rice Owls, 11th place, 5/8 problems:
          <br />
          Yilun Zhang, Philip Taffet, Leo Du
          <br />
          <br />
          Rice Gray, 42nd place, 3/8 problems:
          <br />
          Seth Lauer, Josiah Grace, Michael Peirce
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Jeff Arenson
          <br />
          <a href="http://engineering.rice.edu/programming_contest/"
            >Rice Engineering article</a
          >
          <br />
        </td>
      </tr>
      <tr>
        <td>2012</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Blue, 3rd place, 4/8 problems:
          <br />
          Ryan Dewey, Jeff Arenson, Haihua Shen
          <br />
          <br />
          Rice Owls, 35th place, 1/8 problems:
          <br />
          Yansen Zhou, Derek Peirce, Nick McCleerey
          <br />
          <br />
          Rice Gray, 40th place (tie), 0/8 problems:
          <br />
          Andrew Wu, Dhevi Rajendran, Bryan Wigianto
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Ryan Dewey
        </td>
      </tr>
      <tr>
        <td>2011</td>
        <td>SCUA Regionals</td>
        <td>
          Rice Blue, 3rd place, 4/8 problems:
          <br />
          Daniel Podder, Max Grossman, Ryan Dewey
          <br />
          <br />
          Rice Gray, 9th place, 3/8 problems:
          <br />
          Weibo He, Haihua Shen, Yunming Zhang
          <br />
          <br />
          Rice Owls, 32nd place, 1/8 problems:
          <br />
          Dhevi Rajendran, Bryan Wigianto, Andrew Wu
          <br />
          <br />
          Rice Centennial, 37th place, 1/8 problems:
          <br />
          Jeff Arenson, Kalpit Dixit, Brian Tran
          <br />
          <br />
          Rice Hoot!, 47th place (tie), 0/8 problems:
          <br />
          Waseem Ahmad, Jack Feser, SeyyedMajid Valiollahzadah
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Daniel Podder
        </td>
      </tr>
      <tr>
        <td>2010</td>
        <td>SCUSA Regionals</td>
        <td>
          Give a Hoot!, 4th place, 7/8 problems:
          <br />
          Ryan Dewey, Eric Lee, Olyver Yau
          <br />
          <br />
          Rice Blue, 12th place, 5/8 problems:
          <br />
          Elizabeth Fudge, Max Grossman, Daniel Podder
          <br />
          <br />
          Rice Owls, 36th place, 3/8 problems:
          <br />
          Weibo He, Yunming Zhang, Xiangjin Zou
          <br />
          <br />
          *teamname, 40th place, 3/8 problems:
          <br />
          Kuldeep Meel, Pawel Mikolajczyk, Marcus Shen
          <br />
          <br />
          Rice Gray, 48th place, 3/8 problems:
          <br />
          Dhevi Rajendran, Bryan Wigianto, Andrew Wu
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Daniel Podder
        </td>
      </tr>
    </table>
  </div>
  <div id="2000" class="tab_content">
    <table class="list">
      <tr>
        <th>Year</th>
        <th>Competition</th>
        <th>Teams</th>
        <th>Leaders</th>
      </tr>
      <tr>
        <td>2009</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Blue, 3rd place, 5/8 problems:
          <br />
          Kestutis Cesnavicius, Nico Feltman, George Chen
          <br />
          <br />
          Rice Gray, 30th place (tie), 0/8 problems:
          <br />
          Daniel Podder, Kevin Beale, Grant Cathcart
          <br />
          <br />
          Rice Owls, 30th place (tie), 0/8 problems:
          <br />
          Jaewoo Jeon, James Morgensen, Ace Emil
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Kevin Beale
        </td>
      </tr>
      <tr>
        <td>2008</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Blue, 33rd place, 1/9 problems:
          <br />
          Andrew Altheimer, Taylor Goodhart, Derek Sessions
          <br />
          <br />
          Rice Gray, 60th place (tie), 0/9 problems:
          <br />
          Rae Alty, Peter Hokanson, David Lax
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Derek Sessions
        </td>
      </tr>
      <tr>
        <td>2007</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Blue, 9th place, 4/9 problems:
          <br />
          <a href="http://blog.mozilla.com/mrbkap/">Blake Kaplan</a>
          ,
          <a href="http://www.people.fas.harvard.edu/~gmalecha/"
            >Gregory Malecha</a
          >
          , Derek Sessions
          <br />
          <br />
          Rice Gray, 28th place, 2/9 problems:
          <br />
          Grant Cathcart, Taylor Goodhart, Brian Shields
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Gregory Malecha
        </td>
      </tr>
      <tr>
        <td>2006</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Blue, 5th place: 6/8 problems:
          <br />
          Brad Dodson,
          <a href="http://www.people.fas.harvard.edu/~gmalecha/"
            >Gregory Malecha</a
          >
          , Daniel Weidman
          <br />
          <br />
          Rice Gray, 28th place, 3/8 problems:
          <br />
          Taylor Goodhart, Jaewoo Jeon,
          <a href="http://www.dereksessions.com/">Derek Sessions</a>
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Gregory Malecha
        </td>
      </tr>
      <tr>
        <td>2006</td>
        <td>
          World Finals
          <br />
          San Antonio
        </td>
        <td>
          Rice Blue, Honorable Mention, 1/6 problems:
          <br />
          <a href="http://www.people.fas.harvard.edu/~gmalecha/"
            >Gregory Malecha</a
          >
          , Ryan Prichard,
          <a href="http://www.evouga.com/">Etienne Vouga</a>
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Gregory Malecha
        </td>
      </tr>
      <tr>
        <td>2005</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Blue, 1st place, 7/8 problems:
          <br />
          <a href="http://www.people.fas.harvard.edu/~gmalecha/"
            >Gregory Malecha</a
          >
          , Ryan Prichard,
          <a href="http://www.evouga.com/">Etienne Vouga</a>
          <br />
          <br />
          Rice Gray, 20th place, 2/8 problems:
          <br />
          Eric Cheng, Jaewoo Jeon,
          <a href="http://www.dereksessions.com/">Derek Sessions</a>
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Gregory Malecha
        </td>
      </tr>
      <tr>
        <td>2004</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Gray, 3rd place, 5/8 problems
          <br />
          <br />
          Rice Blue, 6th place, 4/8 problems
        </td>
        <td>
          Coaches: Ian Barland, John Greiner
          <br />
          Student organizer: Gina Upperman
        </td>
      </tr>
      <tr>
        <td>2003</td>
        <td>SCUSA Regionals</td>
        <td>
          Rice Blue, 5th place, 8/8 problems
          <br />
          <br />
          Rice Gray, 14th place, 6/8 problems
        </td>
        <td>
          Coach: John Greiner
          <br />
          Student organizer: Gina Upperman
        </td>
      </tr>
      <tr>
        <td>2002</td>
        <td></td>
        <td>Did not participate.</td>
        <td></td>
      </tr>
      <tr>
        <td>2001</td>
        <td></td>
        <td>Did not participate.</td>
        <td></td>
      </tr>
      <tr>
        <td>2000</td>
        <td></td>
        <td>Did not participate.</td>
        <td></td>
      </tr>
    </table>
  </div>
  <div id="1990" class="tab_content">
    <p>
      The older history has been pieced together from the ACM website and our
      trophies and plaques. If you can provide any additional information,
      please contact
      <a href="http://www.cs.rice.edu/~greiner/">John Greiner</a>
      .
    </p>
    <table class="list">
      <tr>
        <th>Year</th>
        <th>Competition</th>
        <th>Teams</th>
        <th>Leaders</th>
      </tr>
      <tr>
        <td>1999</td>
        <td></td>
        <td>Did not participate.</td>
        <td></td>
      </tr>
      <tr>
        <td>1998</td>
        <td>
          Regionals
          <br />
          (Rice)
        </td>
        <td>
          33rd place, 1/7 problems: Kobo Mastas
          <br />
          <br />
          35th place, 1/7 problems: Turing Machanics
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1997</td>
        <td>
          Regionals
          <br />
          (Rice)
        </td>
        <td>?</td>
        <td></td>
      </tr>
      <tr>
        <td>1996</td>
        <td>Regionals</td>
        <td>?</td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="2">1995/6</td>
        <td>Regionals</td>
        <td>?</td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td>
          World Finals
          <br />
          (Philadelphia, Pennsylvania)
        </td>
        <td>Honorable Mention</td>
      </tr>
      <tr>
        <td>1994</td>
        <td>Regionals</td>
        <td>?</td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="2">1993/4</td>
        <td>Regionals</td>
        <td>?</td>
        <td></td>
      </tr>
      <tr>
        <td>
          World Finals
          <br />
          (Phoenix)
        </td>
        <td>Participated</td>
      </tr>
      <tr>
        <td rowspan="2">1992/3</td>
        <td>Regionals</td>
        <td>?</td>
      </tr>
      <tr>
        <td>
          World Finals
          <br />
          (Indianapolis, Indiana)
        </td>
        <td>7th place (tie)</td>
      </tr>
      <tr>
        <td rowspan="2">1991/2</td>
        <td>Regionals</td>
        <td>
          1st place: Perry Cheng,
          <a href="http://amitp.blogspot.com/">Amit Patel</a>
          , Shawn Smith
        </td>
        <td rowspan="2">Doug Moore</td>
      </tr>
      <tr>
        <td>
          World Finals
          <br />
          (Kansas City, Missouri)
        </td>
        <td>
          Perry Cheng,
          <a href="http://amitp.blogspot.com/">Amit Patel</a>
          , Shawn Smith
        </td>
      </tr>
      <tr>
        <td>1990</td>
        <td>Regionals</td>
        <td>?</td>
        <td></td>
      </tr>
    </table>
  </div>
  <div id="1980" class="tab_content">
    <p>
      The older history has been pieced together from the ACM website and our
      trophies and plaques. If you can provide any additional information,
      please contact
      <a href="http://www.cs.rice.edu/~greiner/">John Greiner</a>
      .
    </p>
    <table class="list">
      <tr>
        <th>Year</th>
        <th>Competition</th>
        <th>Teams</th>
        <th>Leaders</th>
      </tr>
      <tr>
        <td>1989</td>
        <td>Regionals</td>
        <td>?</td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="2">1988/9</td>
        <td>Regionals</td>
        <td>
          1st place:
          <br />
          Matt Biggio, Preston Briggs,
          <a href="https://www.wt8p.com/">Jim Carson</a>
          ,
          <a href="https://cs.rice.edu/~greiner/">John Greiner</a>
        </td>
        <td rowspan="2">Coach: Joe Warren</td>
      </tr>
      <tr>
        <td>
          World Finals
          <br />
          (Louisville, Kentucky)
        </td>
        <td>
          5th place:
          <br />
          Matt Biggio, Preston Briggs,
          <a href="https://www.wt8p.com/">Jim Carson</a>
          ,
          <a href="https://cs.rice.edu/~greiner/">John Greiner</a>
        </td>
      </tr>
      <tr>
        <td>1987</td>
        <td>Regionals</td>
        <td>
          3rd place:
          <br />
          Matt Biggio, Lawrence Cowsar (misspelled as Cowser on plaque), Kenny
          Sheldon,
          <a href="https://www.astro.caltech.edu/~pls/">Pat Shopbell</a>
          <br />
          <br />
          4th place:
          <br />
          Preston Briggs,
          <a href="https://cs.rice.edu/~greiner/">John Greiner</a>
          , Damon Hart, Robert Read
        </td>
        <td>Coach: Joe Warren</td>
      </tr>
      <tr>
        <td>1986</td>
        <td>Regionals</td>
        <td>
          2nd place:
          <br />
          Bill Aitken, John Carter,
          <a href="https://jeffe.cs.illinois.edu/">Jeff Erickson</a>
          , Robert (Bob) Hearn
        </td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="2">1985/6</td>
        <td>Regionals</td>
        <td>
          1st place:
          <br />
          Robert (Bob) Hearn, Chetan (Chet) Murthy,
          <a href="https://jeffe.cs.illinois.edu/">Jeff Erickson</a>
          , John Carter
          <br />
          <br />
          3rd place:
          <br />
          <a href="https://www.kelvinist.com/">Ervan Darnell</a>
          , Doug Monk,
          <a href="https://wondersmith.com/">Blake Wilfong</a>
          ,
          <a href="https://www.ai.sri.com/people/mjw/">Michael Wolverton</a>
        </td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td>
          World Finals
          <br />
          (Cincinnati, Ohio)
        </td>
        <td>
          3rd place:
          <br />
          Robert (Bob) Hearn, Chetan (Chet) Murthy,
          <a href="https://jeffe.cs.illinois.edu/">Jeff Erickson</a>
          , John Carter
        </td>
      </tr>
      <tr>
        <td>1984</td>
        <td>Regionals</td>
        <td>?</td>
        <td></td>
      </tr>
      <tr>
        <td>1983</td>
        <td>Regionals</td>
        <td>1st place: ?</td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="2">1982/3</td>
        <td>Regionals</td>
        <td>
          2nd place: ?
          <br />
          <br />
          3rd place: ?
        </td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td>
          World Finals
          <br />
          (Melbourne, Florida)
        </td>
        <td>
          ? place
          <br />
          Randy Allen,
          <a href="https://www.msss.com/biographies/caplinger/index.html"
            >Michael Caplinger</a
          >
          , Robert Warfield,
          <a href="https://www.cs.rice.edu/~jwarren/">Joe Warren</a>
        </td>
      </tr>
      <tr>
        <td>1981</td>
        <td>Regionals</td>
        <td>?</td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="2">1980/1</td>
        <td>Regionals</td>
        <td>
          1st place:
          <br />
          David Capshaw, Scott Comer, Bob Hood, Thom Potempa
        </td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td>
          World Finals
          <br />
          (St. Louis, Missouri)
        </td>
        <td>
          2nd place:
          <br />
          Scott Comer, Gordon Goetsch,
          <a href="https://www.cs.rice.edu/~dbj/">David Johnson</a>
          , Thom Potempa
        </td>
      </tr>
    </table>
  </div>
  <div id="1970" class="tab_content">
    <p>
      The older history has been pieced together from the ACM website and our
      trophies and plaques. If you can provide any additional information,
      please contact
      <a href="http://www.cs.rice.edu/~greiner/">John Greiner</a>
      .
    </p>
    <table class="list">
      <tr>
        <th>Year</th>
        <th>Competition</th>
        <th>Teams</th>
      </tr>
      <tr>
        <td>1979</td>
        <td>Regionals</td>
        <td>?</td>
      </tr>
      <tr>
        <td>1978</td>
        <td>Regionals</td>
        <td>?</td>
      </tr>
      <tr>
        <td>1977</td>
        <td>Regionals</td>
        <td>?</td>
      </tr>
      <tr>
        <td>1976</td>
        <td>Regionals</td>
        <td>?</td>
      </tr>
    </table>
  </div>
</div>
